# VM-3 - StreamVault Network Services

# ─────────────────────────────────────────────────────────
# PostgreSQL
# ─────────────────────────────────────────────────────────
POSTGRES_DB=streamvault
POSTGRES_USER=streamvault
POSTGRES_PASSWORD=streamvault2025

# ─────────────────────────────────────────────────────────
# MinIO
# ─────────────────────────────────────────────────────────
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin2025

# ─────────────────────────────────────────────────────────
# Postfix
# ─────────────────────────────────────────────────────────
POSTFIX_MYNETWORKS=192.168.1.0/24 127.0.0.0/8

# ─────────────────────────────────────────────────────────
# Red interna
# ─────────────────────────────────────────────────────────
NETWORK_SUBNET=172.20.0.0/24